
<nav class="navbar navbar-expand-lg" id="navBar">
  <div class="container-fluid">
   <a href="/home" class="navbar-left">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-middle navbar-nav ms-auto">
        <li><a href="/luxe">Arshad Interior Design Luxe</a></li>
        <li><a href="/design-gallery">Design Gallery</a></li>
        <li><a href="/modular-kitchen">Modular Kitchen</a></li>
        <li><a href="/wardrobe">wardrobe</a></li>
        <li><a href="/bedroom">Bedroom</a></li>
        <li><a href="/living-room">Living Room</a></li>
        <li class="dropdown">
          <a href="#">...</a>
          <div class="dropdown-content">
            <a href="/bathroom">Bathroom</a>
            <a href="/space-saving-furniture">Space Saving Furniture</a>
            <a href="/home-office">Home Office</a>
            <a href="/featured-projects">Customer Stories</a>
            <a href="/blogs">The Design Journal</a>
          </div>
        </li>
      </ul>
      <a href="/estimate" class="navbar-right"><button>Get Free Estimate</button></a>
    </div>
  </div>
</nav>


