<div class="estimate_container card">
    <h1>LET'S GET STARTED</h1>
    <p>STEP 1 of 3</p>
    <div class="card_container">
        <div class="card">
            <p>Your floor plan</p>
            <div class="button_container">
                <button>1 BHK</button>
                <button>2 BHK</button>
                <button>3 BHK</button>
                <button>3+ BHK</button>
            </div>
            <p>Your floor plan</p>
            <div class="button_container">
                <button>1 BHK</button>
                <button>2 BHK</button>
                <button>3 BHK</button>
                <button>3+ BHK</button>
            </div>
        </div>
        <div class="card">
            <h6>Your Ideas. Our Expertise</h6>
            <p>Our 600+ design experts use state-of-the-art 3D design technology, SpaceCraft, 
                to ensure that you get the perfect designs for your home. Wait no more! 
                Start your home interiors journey with us.</p>
        </div>
    </div>
</div>